<div class="container mt-4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <div id="toast">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>check</th>
                <th>Id đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Trạng thái</th>
                <th>Lượng mặt hàng</th>
                <th>Giá trị đơn hàng</th>
                <th>Mã vận đơn</th>
                <th>Đơn vị vận chuyển</th>
                <th>Huỷ đơn</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < order.length; i++) { if(order[i].TinhTrangDonHang==4) {%>
                <tr style="background-color: aquamarine;">
                    <% } else {%>
                <tr>
                    <% } %>
                        <th scope="row"><input type="checkbox" name="check" id=""></th>
                        <td>
                            <%= order[i].id %>
                        </td>
                        <td>
                            <%= order[i].ngayTao %>
                        </td>
                        <td>
                            <%= order[i].tinhTrang %>
                        </td>
                        <td>
                            <%= order[i].soLuong %>
                        </td>
                        <td>20000vnd</td>
                        <td>
                            <%= order[i].maVanDon %>
                        </td>
                        <td>
                            <%= order[i].donViVanChuyen %>
                        </td>
                        <td>
                            <% if(order[i].TinhTrangDonHang !=4) {%>
                                <i class="fa-solid fa-trash trash" id="cancel_order"></i>
                                <% } %>
                        </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>
