<main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <div class="container mt-4">
        <div id="thongbao" class="alert alert-danger d-none face" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="card">
            <div class="container-fliud">
                <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post"
                    action="/cart/add">
                    <input type="hidden" name="sp_ma" id="sp_ma" value="<%= info.idSP%>">
                    <input type="hidden" name="sp_ten" id="sp_ten" value="<%= info.ten%>">
                    <input type="hidden" name="sp_gia" id="sp_gia" value="<%= info.gia%>">
                    <div class="wrapper row">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane" id="pic-1">
                                    <img src="/uploads/<%= info.anh %>">
                                </div>
                                <div class="tab-pane" id="pic-2">
                                    <img src="/uploads/<%= info.anh %>" class="img-product">
                                </div>
                                <div class="tab-pane active" id="pic-3">
                                    <img src="/uploads/<%= info.anh %>">
                                </div>
                            </div>
                            <ul class="preview-thumbnail nav nav-tabs">
                                <li class="active">
                                    <a data-target="#pic-1" data-toggle="tab" class="">
                                        <img src="/uploads/<%= info.anh %>">
                                    </a>
                                </li>
                                <li class="">
                                    <a data-target="#pic-2" data-toggle="tab" class="">
                                        <img src="/uploads/<%= info.anh %>">
                                    </a>
                                </li>
                                <li class="">
                                    <a data-target="#pic-3" data-toggle="tab" class="active">
                                        <img src="/uploads/<%= info.anh %>">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title"><%= info.ten%></h3>
                            <div class="rating">
                                <div class="stars">
                                    <% 
                                    var count = 1;
                                    for(var i = 1; i <= 5; i++) { 
                                        if(count <= info.sosao || !info.sosao) { %>
                                            <span class="fa fa-star checked"></span>
                                        <% } else {%>
                                            <span class="fa fa-star"></span>
                                    <%} count ++; } %>
                                </div>
                                <span class="review-no">
                                    <% if(info.luotmua) { %> 
                                    <%=  info.luotmua %>
                                    <% } else { %>
                                        0
                                    <% } %>
                                    
                                    
                                    lượt mua</span>
                            </div>
                            <!-- <small class="text-muted">Giá cũ: <s><span>10,990,000.00 vnđ</span></s></small> -->
                            <h4 class="price">Giá hiện tại: <span><%= info.gia%> vnđ</span></h4>
                            <p class="vote"><strong>100%</strong> hàng <strong>Chất lượng</strong>, đảm bảo
                                <strong>Uy
                                    tín</strong>!</p>
                            <!-- <h5 class="sizes">sizes:
                                <span class="size" data-toggle="tooltip" title="cỡ Nhỏ">s</span>
                                <span class="size" data-toggle="tooltip" title="cỡ Trung bình">m</span>
                                <span class="size" data-toggle="tooltip" title="cỡ Lớn">l</span>
                                <span class="size" data-toggle="tooltip" title="cỡ Đại">xl</span>
                            </h5> -->
                            <h5 class="colors">colors:
                                <span class="color orange not-available" data-toggle="tooltip"
                                    title="Hết hàng"></span>
                                <span class="color green"></span>
                                <span class="color blue"></span>
                            </h5>
                            <div class="form-group">
                                <label for="soluong">Số lượng đặt mua:</label>
                                <input type="number" class="form-control" id="soluong" name="soluong" value="1">
                            </div>
                            <div class="action">
                                <button class="add-to-cart btn btn-default" id="btnThemVaoGioHang">Thêm vào giỏ hàng</button>
                                <a class="like btn btn-default" href="#"><span class="fa fa-heart"></span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="container-fluid">
                <h3>Thông tin chi tiết về Sản phẩm</h3>
                <div class="row">
                    <div class="col">
                        <%= info.mota %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End block content -->
</main>